.DS_Store
.*.swn
.*.swo
.*.swp
.vscode/
.env
.aggregate.env
.ingest.env
conf/gcloud
conf/logstash.aggregate.yml
conf/logstash.ingest.yml
conf/jvm.aggregate.options
conf/jvm.ingest.options
conf/pipelines.aggregate.yml
conf/pipelines.ingest.yml
pipeline_etc/kafka_*
pipeline_etc/mappings.yaml
pipeline_aggregate/01-inputs.conf
pipeline_aggregate/99-outputs.conf
pipeline_ingest/01-inputs.conf
pipeline_ingest/99-outputs.conf
pipeline_ingest_processor/instances/
scripts/gke_credentials.sh
env.yml
ansible/vars/logstash_env.aggregate.yml
ansible/vars/logstash_env.ingest.yml
ansible/k8s/logstash-deployment.yml
ansible/k8s/redis-deployment.yml
generated_env.yml
ansible_env_specific_vars.yml
.history
keys
certificates/
google_auth.json
gcp_key.json
